html, body {
	background: linear-gradient(to right, #DAE2F8, #faaca8);
}
#hours {
  background: #FFFFFF;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgb(233, 232, 232);
  padding: 15px;
  position: absolute;
  font-size: 20px;
  color: #424242;
  font-family: 'Kalam', cursive;  
  animation: hours-words 8s linear;
  z-index: 9999;
  white-space:nowrap;
  left: 100%;
  
}

@keyframes hours-words {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.zyr .zyr-header {
  text-align: center;
  font-family: 'Satisfy', cursive;
  margin-top: 50px;
  color: #434343;
}
.zyr .zyr-header .love-word {
  animation: love-word 3s;
}

@keyframes love-word {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.zyr .zyr-header .emoji {
  width: 120px;
  height: 120px;
  margin: 15px;
  background: #FFDA6A;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.zyr .zyr-header .emoji-face {
  width: inherit;
  height: inherit;
}
.zyr .zyr-header .emoji-face,
.zyr .zyr-header .emoji-eyebrows,
.zyr .zyr-header .emoji-eyes,
.zyr .zyr-header .emoji-mouth,
.zyr .zyr-header .emoji-tooth,
.zyr .zyr-header .emoji-hand,
.zyr .zyr-header .emoji-thumb,
.zyr .zyr-header .emoji-heart {
  position: absolute;
}
.zyr .zyr-header .emoji-face:before,
.zyr .zyr-header .emoji-face:after,
.zyr .zyr-header .emoji-eyebrows:before,
.zyr .zyr-header .emoji-eyebrows:after,
.zyr .zyr-header .emoji-eyes:before,
.zyr .zyr-header .emoji-eyes:after,
.zyr .zyr-header .emoji-mouth:before,
.zyr .zyr-header .emoji-mouth:after,
.zyr .zyr-header .emoji-tooth:before,
.zyr .zyr-header .emoji-tooth:after,
.zyr .zyr-header .emoji-hand:before,
.zyr .zyr-header .emoji-hand:after,
.zyr .zyr-header .emoji-thumb:before,
.zyr .zyr-header .emoji-thumb:after,
.zyr .zyr-header .emoji-heart:before,
.zyr .zyr-header .emoji-heart:after {
  position: absolute;
  content: '';
}
.zyr .zyr-header .emoji-love {
  background: #F55064;
}
.zyr .zyr-header .emoji-love .emoji-heart {
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  width: 80px;
  height: 80px;
  animation: heart-beat 2s linear infinite;
}
.zyr .zyr-header .emoji-love .emoji-heart:after,
.zyr .zyr-header .emoji-love .emoji-heart:before {
  left: calc(50% - 20px);
  top: calc(50% - 32px);
  width: 40px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
}
.zyr .zyr-header .emoji-love .emoji-heart:after {
  transform: translate(20px) rotate(-45deg);
  transform-origin: 0 100%;
}
.zyr .zyr-header .emoji-love .emoji-heart:before {
  transform: translate(-20px) rotate(45deg);
  transform-origin: 100% 100%;
}
@keyframes heart-beat {
  20% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(0.5);
  }
}
.zyr .zyr-header .emoji-se:after {
  content: "se";
}
.zyr .zyr-header .emoji-se .emoji-eyes {
  top: calc(50% - 40px);
  left: 3px;
  width: 30px;
  height: 30px;
  animation: eyes-beat 1s linear infinite;
}
.zyr .zyr-header .emoji-se .emoji-eyes:after,
.zyr .zyr-header .emoji-se .emoji-eyes:before {
  width: 20px;
  height: 30px;
  border-radius: 40px 40px 0 0;
  background: red;
}
.zyr .zyr-header .emoji-se .emoji-eyes:after {
  transform: translate(-2px) rotate(45deg);
  transform-origin: 0 100%;
}
.zyr .zyr-header .emoji-se .emoji-eyes:before {
  transform: translate(5px) rotate(-45deg);
  transform-origin: 100% 100%;
}
.zyr-body {
  margin-top: 50px;
  text-align: center;  
}
.zyr .zyr-body .love-time-word {
  font-family: 'Kalam', cursive;
  color: #ffebee;  
}

.zyr .zyr-body .love-time {
  color: #F2F4F3;
}
.zyr .zyr-body .love-time span{
  font-size: 25px;
}

#time {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  line-height: 2;
  animation: love-time 3s;
}

@keyframes love-time {
  from {
    font-size: 10px;
    line-height: 10;
  }
  to {
    font-size: 30px;
    line-height: 2;
  }
}